


@media (min-width: 601px) and (max-width: 768px) {
    
    body {
        overflow-X: hidden;
    }

    .navs {
        width: 50%;
        gap: 1.4vw;
    }
    .navs button {
        width: 100%;
        font-size: 2.7vw;
    }

    #logo {
        width: 100%;
    }


    .homePage, .repair {
        width: 90%;
    }

    .heroSection, .bestOffers, .usedVerifiedSection, .location {
        max-width: 95%;
        height: 32vh;
    }

    .heroSection, .usedVerifiedSection {
        background: linear-gradient(
        to right,           
        rgb(229, 229, 229) 20%,
        rgba(0,0,0,0)   70%
        );
    }

    .bestOffers {
        background: linear-gradient(
        to right,           
        rgba(0,0,0,0)   30%,
        rgb(229, 229, 229) 70%
        );
    }

    .hsText {
        font-size: 2vw;
        gap: 5px;
        padding: 25px;
    }

    .hsText h1, .hsText h2, .hsText h3{
    width: 90%;
    }

    .hsText button {
        height: 20%;
        font-size: 15px;
    }

    #hsImg {
        left: 0vw;
        width: 250px;
        height: 250px;
    }

    .boText {
        font-size: 2vw;
        gap: 10px;
        padding: 0px;
    }
    .boText button {
        height: 17%;
        font-size: 15px;
    }

    #boImg {
        width: 240px;
        height: 240px;
    }

    .uvText {
        font-size: 1.8vw;
        gap: 5px;
        padding: 20px;
    }

    .uvText h1 {
        font-size: 5vw;
        color: #fd9539;
    }

    .uvText button {
        height: 20%;
        font-size: 14px;
        padding: 10px;
        width: 40vw;
    }

    #uvImg {
        width: 300px;
        height: 300px;
    }

    .FAQTxt{
        max-width: 760px ;
        font-size: 7vw;
        text-align: center;
    }

    .FAQ {
        max-width: 760px ;
    }

    .qnda, .answer {
        font-size: 12px;
    }
    
    .location {
        max-width: 100%;
        height: 80vh;
        flex-direction: column;
        gap: 50px;
    }

    .infos {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .infos div {
        font-size: 3.5vw;
        width: 80%;
    }

    .map {
        width: 100%;
    }

    .leaflet-container{
    height: 400px;
    max-width: 1000px;
    }

    .rpHeroSection {
        height: 50vh;
    }

    .rpText {
        width: 45%;
        padding: 40px;
    }

    .rpText h1 {
        font-size: 40px;
    }

    .rpButtons button {
        font-size: 1.7vw;
        width: 300px;
        height: 40px;
        border-radius: 15px;
    }

    .wcuText h1 {
        font-size: 35px;
    }

    .tText h1{
        font-size: 28px;
    }

    .card {
        max-width: 75%;
    }
    
    #deco2 {
        position: absolute;
        top: 20%;              
        left: -10%;
        width: 300%;         
        height: 100%;    
        object-fit: cover;
    }

    .bookingSection {
        position: relative;   /* nécessaire pour contenir l’absolute */
        overflow: hidden;     /* masque ce qui dépasse */
        width: 100vw;
        height: auto;   
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    .bookNow {
        width: 95%;
    }

    .bookNow input {
        width: 60%;
    }

    footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px  0px;
    }

    .popUp {
        width: 50%;
    }

    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    footer div h1 {
        font-size: 10vw;
        text-align: center;
    }

    footer h2 {
        font-size: 3vw;
        text-align: center;
    }
}

    
@media (min-width: 320px)and (max-width: 600px) {

    body {
        max-width: 600px;
        overflow-X: hidden;
        padding: 0;
    }

    .navs {
        width: 50%;
        gap: 1.4vw;
    }
    .navs button {
        width: 100%;
        font-size: 2.7vw;
    }

    #logo {
        width: 100%;
    }

    .homePage, .repair {
        width: 100%;
    }

    .repair {
        width: 100%;
        border: 1px solid red;
    }

    .heroSection, .usedVerifiedSection{
        background-color: transparent;
        width: 100%;
        height: auto;
        margin: 50px 0px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(207, 207, 207);
    }

    .hsText, .uvText {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        height: 100%;
    }

    .hsText button {
        height: 20%;
        width: 70%;
    }

    .hsImgBox, .uvImgBox  {
        position: absolute;
        z-index: -1;
        opacity: 0.5;
    }
    
    #hsImg {
        max-width: 60%;
    }


    .bestOffers {
        width: 100%;
        height: auto;
        margin: 50px 0px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(242, 242, 242, 0.8);
        border: 1px solid rgb(207, 207, 207);
        padding: 10px 0px ;
    }

    .boImgBox {
        height: 100%;
    }

    #boImg {
        width: 50%;
        overflow-x: hidden;
    }

    .boText {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }


    .uvText {
        font-size: 16px;
        padding: 20px 0px ;
    }

    .uvText h1 {
        font-size: 49px;
        color: #fd9539;
    }

    .uvText button {
        width: 90%;
        height: 60px;
        font-size: 20px;
    }

    .uvText h1, .uvText h2 {
        width: 90%;
    }

    #uvImg {
        position: relative;
        left: -5%;
        max-width: 70vw;
        height: auto;
        overflow-x: hidden;
    }

    .FAQTxt {
        font-size: 30px;
        text-align: center;
    }

    .qnda, .answer {
        font-size: 12px;
    }

    .location {
        max-width: 100%;
        height: auto;
        flex-direction: column;
        gap: 50px;
        margin: 50px 0px 0px 0px;
    }

    .infos {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .infos div {
        font-size: 3.5vw;
        width: 80%;
    }

    .repair {
        width: 100%;
        height: auto;
    }

    .rpHeroSection {
        width: 95%;
        height: 30vh;
        margin: 50px 0px;
    }

    .rpText {
        width: 100%;
        height: 100%;
        left: 0%;
        border-radius: 0px;
        padding: 0px;
        font-size: 3vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .rpText h1 {
        font-size: 7.5vw;
        text-align: center;
    }

    .rpButtons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .whyChooseUs {
        flex-direction: column;
        padding: 10px;
        height: auto;
        text-align: center;
    }

    .wcuText{
        text-align: center;
    }

    .wcuIcons {
        gap: 40px;
    }
    
    .testimonials {
        flex-direction: column;
        height: auto;
    }

    .tText {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid red;
    }

    .card {
        max-width: 90%;
        margin: 50px 0px;
    }

    .card img {
        position: relative;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textCard {
        text-align: center;
    }

    #deco2 {
        position: absolute;
        top: 0;              /* tu ajustes comme tu veux */
        left: 0;
        width: 100%;         /* suit la largeur du parent */
        max-width: 180%;     /* sinon ça limite */
        object-fit: cover;
    }

    footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px  0px;
    }

    .bookNow {
        width: 90%;
        background-color: rgba(242, 242, 242, 0.7) ;
    }

    .bookNow input {
        width: 80%;
    }

    .bookNow label {
        font-size: 7vw;
    }

    .bookNow button {
        width: 80%;
    }

    .bookingSection {
        position: relative;   /* nécessaire pour contenir l’absolute */
        overflow: hidden;     /* masque ce qui dépasse */
        width: 110%;
        height: auto;   
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    .bookNow p {
        text-align: center;
    }

    .popUp {
        width: 50%;
    }
    
    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    footer div h1 {
        font-size: 10vw;
        text-align: center;
    }

    footer h2 {
        font-size: 3vw;
        text-align: center;
    }

}