
@media (min-width: 768px) and (max-width: 1440px) {
    
    .homePage, .repair {
        width: 80%;
    }

    .heroSection, .bestOffers, .usedVerifiedSection, .location {
        max-width: 800px;
        height: 30vh;
    }

    .heroSection, .usedVerifiedSection {
        background: linear-gradient(
        to right,           
        rgb(229, 229, 229) 20%,
        rgba(0,0,0,0)   70%
        );
    }

    .bestOffers {
        background: linear-gradient(
        to right,           
        rgba(0,0,0,0)   30%,
        rgb(229, 229, 229) 70%
        );
    }

    .hsText {
        font-size: 11px;
        gap: 5px;
        padding: 30px;
    }
    .boText {
        font-size: 11px;
        gap: 10px;
        padding: 0px;
    }

    .hsText button {
        height: 30%;
        font-size: 20px;
    }

    .boText button {
        height: 22%;
        font-size: 20px;
    }

    #hsImg {
        left: 0vw;
        width: 300px;
        height: 300px;
    }

    .uvText {
        font-size: 13px;
        gap: 5px;
        padding: 20px;
    }

    .uvText button {
        height: 25%;
        font-size: 18px;
        width: 95%;
    }

    #uvImg {
        width: 350px;
        height: 350px;
    }

    .FAQTxt{
        max-width: 760px ;
        font-size: 30px;
    }

    .FAQ {
        max-width: 760px ;
    }

    .qnda, .answer {
        font-size: 13px;
    }

    .location {
        height: 400px;
    }

    .infos {
        width: 300px;
        padding: 10px;
        font-size: 15px;
    }

    .map {
        width: 500px;
    }

    .leaflet-container{
    height: 400px;
    width: 500px;
    }

    .rpHeroSection {
        height: 50vh;
    }

    .rpText {
        width: 45%;
        padding: 40px;
    }

    .rpText h1 {
        font-size: 40px;
    }

    .rpButtons button {
        font-size: 1.2vw;
        width: 300px;
        height: 40px;
        border-radius: 15px;
    }
    
    .tText h1{
        font-size: 35px;
    }

    .card {
        max-width: 65%;
    }

}


@media (min-width: 501px) and (max-width: 769px) {
    
    body {
        overflow-X: hidden;
        background-color: blue;
    }

    .homePage, .repair {
        width: 90%;
    }

    .heroSection, .bestOffers, .usedVerifiedSection, .location {
        max-width: 80%;
        height: 25vh;
    }

    .heroSection, .usedVerifiedSection {
        background: linear-gradient(
        to right,           
        rgb(229, 229, 229) 20%,
        rgba(0,0,0,0)   70%
        );
    }

    .bestOffers {
        background: linear-gradient(
        to right,           
        rgba(0,0,0,0)   30%,
        rgb(229, 229, 229) 70%
        );
    }

    .hsText {
        font-size: 10px;
        gap: 5px;
        padding: 25px;
    }

    .hsText h1, .hsText h2, .hsText h3{
    width: 90%;
    }

    .hsText button {
        height: 30%;
        font-size: 15px;
    }

    #hsImg {
        left: 0vw;
        width: 250px;
        height: 250px;
    }

    .boText {
        font-size: 10px;
        gap: 10px;
        padding: 0px;
    }
    .boText button {
        height: 20%;
        font-size: 15px;
    }

    #boImg {
        width: 240px;
        height: 240px;
    }

    .uvText {
        font-size: 10px;
        gap: 5px;
        padding: 20px;
    }

    .uvText button {
        height: 25%;
        font-size: 15px;
        width: 100%;
    }

    #uvImg {
        width: 300px;
        height: 300px;
    }

    .FAQTxt{
        max-width: 760px ;
        font-size: 30px;
    }

    .FAQ {
        max-width: 760px ;
    }

    .qnda, .answer {
        font-size: 12px;
    }
    
    .location {
        height: 400px;
    }

    .infos {
        width: 200px;
        padding: 10px;
        font-size: 12px;
    }

    .map {
        width: 350px;
    }

    .leaflet-container{
    height: 400px;
    width: 350px;
    }

    .rpHeroSection {
        height: 50vh;
    }

    .rpText {
        width: 45%;
        padding: 40px;
    }

    .rpText h1 {
        font-size: 40px;
    }

    .rpButtons button {
        font-size: 1.7vw;
        width: 300px;
        height: 40px;
        border-radius: 15px;
    }

    .wcuText h1 {
        font-size: 35px;
    }

    .tText h1{
        font-size: 28px;
    }

    .card {
        max-width: 75%;
    }
    
    footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px  0px;
    }

    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    footer div h1 {
        font-size: 10vw;
        text-align: center;
    }

    footer h2 {
        font-size: 3vw;
        text-align: center;
    }
}

    
@media (min-width: 320px)and (max-width: 600px) {

    body {
        overflow-X: hidden;
    }

    .navs {
        width: 50%;
        gap: 1.4vw;
    }
    .navs button {
        width: 100%;
        font-size: 2.7vw;
    }

    #logo {
        width: 100%;
    }

    .homePage, .repair {
        width: 100%;
    }

    .heroSection, .usedVerifiedSection{
        background-color: transparent;
        width: 100%;
        height: auto;
        margin: 50px 0px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(207, 207, 207);
    }

    .hsText, .uvText {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        height: 100%;
    }

    .hsText button {
        height: 20%;
        width: 70%;
    }

    .hsImgBox, .uvImgBox  {
        position: absolute;
        z-index: -1;
        opacity: 0.5;
    }
    
    #hsImg {
        width: 80%;
    }


    .bestOffers {
        width: 100%;
        height: auto;
        margin: 50px 0px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(242, 242, 242, 0.8);
        border: 1px solid rgb(207, 207, 207);
        padding: 10px 0px ;
    }

    .boImgBox {
        height: 100%;
    }

    #boImg {
        width: 50%;
        overflow-x: hidden;
    }

    .boText {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }


    .uvText {
        font-size: 16px;
        padding: 20px 0px ;
    }

    .uvText h1 {
        font-size: 49px;
        color: #fd9539;
    }

    .uvText button {
        width: 90%;
        height: 60px;
        font-size: 20px;
    }

    .uvText h1, .uvText h2 {
        width: 90%;
    }

    #uvImg {
        position: relative;
        left: -5%;
        max-width: 105%;
        height: auto;
        overflow-x: hidden;
    }

    .FAQTxt {
        font-size: 30px;
        text-align: center;
    }

    .qnda, .answer {
        font-size: 12px;
    }

    footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px  0px;
    }

    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

    }

    footer div h1 {
        font-size: 10vw;
        text-align: center;
    }

    footer h2 {
        font-size: 3vw;
        text-align: center;
    }

}